certifi==2020.12.5
chardet==4.0.0
idna==2.10
inflection==0.5.1
jmespath==0.10.0
more-itertools==8.7.0
#psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
s3transfer==0.3.6
six==1.15.0
urllib3==1.26.4