Cython==0.26.1
docker==3.6.0
docker-pycreds==0.4.0
Flask==0.12.2
Flask-Cors==3.0.3
gensim==3.7.3
ImageHash==4.0
joblib==0.10.3
Keras==2.2.4
Keras-Applications==1.0.7
keras-metrics==1.1.0
Keras-Preprocessing==1.0.9
matplotlib==2.1.0
nltk==3.2.4
numpy==1.14.3
opencv-python==4.1.0.25
pandas==0.20.3
Pillow==9.0.1
requests==2.21.0
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==1.1.0
snowballstemmer==1.2.1
tables==3.4.2
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-tensorboard==0.1.8
urllib3==1.24.1
virtualenv==16.6.0