data/
downloaded_placeholder_images/
generated_downloaded_placeholder_images/
generated_placeholder_images/
generated_product_images/
non_placeholder_images/
product_images/
similar_placeholder_images/
tagged_placeholder_images/
